.search-container{
  width: 30vw;
  margin: 30px auto;
}

.search-container input{
  width: 100%;
}

.swap{
  margin-left: 160px;
  cursor: pointer;
}

#departure-date{
  margin: 10px 0px;
}

#days{
  display: flex;
  justify-content: end;
  gap: 20px;
}
