img {
  width: 120px;
}

.home-page {
  color: rgb(203, 201, 201);
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url('https://img.freepik.com/free-photo/woman-hand-holding-camera-standing-top-rock-nature-travel-concept_335224-887.jpg?t=st=1733637590~exp=1733641190~hmac=78481988c3cc34cc874b8a9e76c0e01ac3f96bd98961300ee59f9147e1d5adeb&w=826');
  background-repeat: no-repeat;
  background-size: cover;
}

.sections {
  margin: 50px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.home-page-heading {
  font-size: 50px;
  padding: 20px;
}

.app-name {
  font-family: sans-serif;
  font-family: "Yuji Mai", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.red {
  /* color: red; */
  color: pink;
}

a{
  color: rgb(203, 201, 201); 
  text-decoration: none;
}
