.admin-login {
  color: white;
}

label {
  color: rgb(162, 245, 162);
}

.passenger-enquiry {
  margin: 150px auto;
  width: 50vw;
  text-align: center;
}

.passenger-enquiry h1 {
  color: white;
}

.passenger-enquiry [type="number"]{
  outline: none;
  width: 20%;
  padding: 5px 10;
}

.passenger-enquiry [type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.passenger-enquiry label{
  font-size: 20px;
}
