.login-page-header{
  margin-bottom: 50px;   
  padding: 20px;
}

.login-page {
  width: 30vw;
  margin: 60px auto;
  padding: 25px;
  box-shadow: 4px 3px 20px 2px rgb(90, 89, 89);
  background-color: aliceblue;
}

.login-page input {
  width: 100%;
  margin-top: 10px;
  height: 30px;
  border-radius: 5px;
}

.login-page .signup, .login-page .submit{
  width: 65px;
  height: 30px;
}

.login-page .signup{
  margin-top: 11px;
}

.forgot-password{
  margin-top: 10px;
  float: right;
}

.buttons{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.forgot-password:hover{
  text-decoration:underline;
}

body{
  background: linear-gradient(to bottom, #d8efff, #ffffff);
  background-repeat: no-repeat;
}
